<!doctype html>
<html lang="en">

    <%- include('header'); -%>

    <h2 class="title text-center">Uni Sim</h2>

    <div id="client">

        <div v-if="!me">
            <div v-if="page === 'login'">
                <%- include('login'); -%>
            </div>
        
            <div v-if="page === 'register'">
                <%- include('registerStudent'); -%>
            </div>
            
            <div v-if="page === 'registerLecturer'">
                <%- include('registerLecturer'); -%>
            </div>
        </div>
    
        <!-- APP -->
        <div v-else>
            <div v-if="connected"></div>
            <div v-else>
                <p>Connecting...</p>
            </div>
        </div>
    
    </div>

    <%- include('footer'); -%>

</html>
